@import './variaveis';

.banner {
  background:url(../Assets/banner_mobile.svg) center no-repeat;
  text-align: center;
  padding: 2em; 
  color: $font-white;
  h2 {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height:57px ;
    letter-spacing: 0.2px;
  }
  h4 {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 30px;
    padding: 1.5em;
  }
  .banner_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    button {
      margin: 0 auto;
      width: 60%;
      background: transparent;
      color: $light-background;
      border-color: $light-background;
      padding: .5em;
      border-radius: 37px;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.2px;
      line-height: 22px;
      &:hover {
        background: $light-background;
        color: $font-white;
        cursor: pointer;
        border: none;
        transition: 300ms;
      }
    }    
  }
}