@import './variaveis';

header {
  text-align: center;
  background-color: $dark-background;
  color: $font-white;
  
  .header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5em 0;
    h2 {
      font-family:"Montserrat";
      font-size: 24px;
      font-weight: 700;
      line-height: 0.1;
    }
    .header_container-imagem {
      display: flex;
      align-items: center;
      gap: 2.5em; 
    }
  }
  ul {
    padding: 2em;
  }
  li {
    margin: 1.5em 0;
    a {
      font-family: "Montserrat";
      font-size: 30px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.2px;
      line-height: 45px;
      text-decoration: none;
      color: $font-white;
    }
  }
}