// Fonts 
$Montserrat: "Montserrat";
$font-white: hsl(0, 0%, 100%);
$font-gray: hsl(0, 0%, 45%);

// Colors
$dark-background: hsl(228, 28%, 20%);
$light-background: hsl(202, 87%, 54%);



// Elements
