@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
header {
  text-align: center;
  background-color: hsl(228deg, 28%, 20%);
  color: hsl(0deg, 0%, 100%);
}
header .header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5em 0;
}
header .header_container h2 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 0.1;
}
header .header_container .header_container-imagem {
  display: flex;
  align-items: center;
  gap: 2.5em;
}
header ul {
  padding: 2em;
}
header li {
  margin: 1.5em 0;
}
header li a {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.2px;
  line-height: 45px;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 0.2em;
}
header li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 914px) {
  header {
    height: 500px;
  }
}
.banner {
  background: url(../Assets/banner_mobile.svg) center no-repeat;
  text-align: center;
  padding: 2em;
  color: hsl(0deg, 0%, 100%);
}
.banner h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.banner h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 30px;
  padding: 1.5em;
}
.banner .banner_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.banner .banner_container button {
  margin: 0 auto;
  width: 60%;
  background: transparent;
  color: hsl(202deg, 87%, 54%);
  border-color: hsl(202deg, 87%, 54%);
  padding: 0.5em;
  border-radius: 37px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.banner .banner_container button:hover {
  background: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  border: none;
  transition: 300ms;
}

.banner_two {
  background-color: hsl(228deg, 28%, 20%);
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  padding: 2em;
}
.banner_two .banner_two-first, .banner_two .banner_two-second, .banner_two .banner_two-third {
  margin: 2.5em auto;
}
.banner_two h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
  padding: 1em;
}
.banner_two p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.profile_container {
  text-align: center;
  background-color: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  padding: 2em;
}
.profile_container h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 57px;
}
.profile_container p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding: 1.5em;
}
.profile_container .profile_container-one {
  background: hsl(0deg, 0%, 100%);
  color: #000000;
  padding: 1.5em 2em;
  text-align: justify;
  margin: 1.5em auto;
}
.profile_container .profile_container-one h3 {
  padding: 0 0.9em;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.profile_container .profile_container-one ul {
  padding: 0 1em;
}
.profile_container .profile_container-one ul li {
  display: inline-block;
}
.profile_container .profile_container-one h6 {
  padding: 0 1em;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: hsl(0deg, 0%, 45%);
  margin: 0.7em;
}
.profile_container .profile_container-one p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.profile_container .profile_container-one p {
  color: hsl(0deg, 0%, 45%);
}
.profile_container .profile_container-two {
  background: hsl(0deg, 0%, 100%);
  color: #000000;
  padding: 1.5em 2em;
  text-align: justify;
}
.profile_container .profile_container-two h3 {
  padding: 0 0.9em;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
}
.profile_container .profile_container-two ul {
  padding: 0 1em;
}
.profile_container .profile_container-two ul li {
  display: inline-block;
}
.profile_container .profile_container-two h6 {
  padding: 0 1em;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.2px;
  line-height: 24px;
  color: hsl(0deg, 0%, 45%);
  margin: 0.7em;
}
.profile_container .profile_container-two p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 20px;
}
.profile_container .profile_container-two p {
  color: hsl(0deg, 0%, 45%);
}

.folder_container {
  background-color: hsl(228deg, 28%, 20%);
  color: hsl(0deg, 0%, 100%);
  padding: 2em;
  text-align: center;
}
.folder_container h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700px;
  letter-spacing: 0.2px;
  line-height: 57px;
}
.folder_container p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500px;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding: 2em;
}
.folder_container .folder_container-one {
  background: url(../Assets/folder-one.svg) center center no-repeat;
  padding: 2em;
  margin: 1.5em;
}
.folder_container .folder_container-one h6 {
  font-family: "Montserrat";
  font-seze: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.folder_container .folder_container-one h3 {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  margin: 1em;
}
.folder_container .folder_container-one button {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  border-radius: 37px;
  border: solid 2px hsl(202deg, 87%, 54%);
  color: hsl(202deg, 87%, 54%);
  transition: 300ms;
  padding: 0 1em;
  background: transparent;
}
.folder_container .folder_container-one button:hover {
  background: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.folder_container .folder_container-two {
  background: url(../Assets/folder-two.svg) center center no-repeat;
  padding: 2em;
  margin: 1.5em;
}
.folder_container .folder_container-two h6 {
  font-family: "Montserrat";
  font-seze: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.folder_container .folder_container-two h3 {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  margin: 1em;
}
.folder_container .folder_container-two button {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  border-radius: 37px;
  border: solid 2px hsl(202deg, 87%, 54%);
  color: hsl(202deg, 87%, 54%);
  transition: 300ms;
  padding: 0 1em;
  background: transparent;
}
.folder_container .folder_container-two button:hover {
  background: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.folder_container .folder_container-three {
  background: url(../Assets/folder-three.svg) center center no-repeat;
  padding: 2em;
  margin: 1.5em;
}
.folder_container .folder_container-three h6 {
  font-family: "Montserrat";
  font-seze: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.folder_container .folder_container-three h3 {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  margin: 1em;
}
.folder_container .folder_container-three button {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  border-radius: 37px;
  border: solid 2px hsl(202deg, 87%, 54%);
  color: hsl(202deg, 87%, 54%);
  transition: 300ms;
  padding: 0 1em;
  background: transparent;
}
.folder_container .folder_container-three button:hover {
  background: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.folder_container .folder_container-four {
  background: url(../Assets/folder-four.svg) center center no-repeat;
  padding: 2em;
  margin: 1.5em;
}
.folder_container .folder_container-four h6 {
  font-family: "Montserrat";
  font-seze: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.folder_container .folder_container-four h3 {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  margin: 1em;
}
.folder_container .folder_container-four button {
  font-family: "Montserrat";
  font-seze: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 32px;
  border-radius: 37px;
  border: solid 2px hsl(202deg, 87%, 54%);
  color: hsl(202deg, 87%, 54%);
  transition: 300ms;
  padding: 0 1em;
  background: transparent;
}
.folder_container .folder_container-four button:hover {
  background: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}

@media screen and (min-width: 914px) {
  .folder_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .folder_container .folder_container-one, .folder_container .folder_container-two, .folder_container .folder_container-three, .folder_container .folder_container-four {
    display: inline-block;
    height: 220px;
    width: 350px;
  }
}
.plans_container {
  border-top: solid 2px hsl(202deg, 87%, 54%);
  text-align: center;
  background: hsl(228deg, 28%, 20%);
  padding: 2em;
  color: hsl(0deg, 0%, 100%);
}
.plans_container h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 57px;
}
.plans_container p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 2em;
}
.plans_container .plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  justify-content: space-around;
}
.plans_container .plans .free, .plans_container .plans .silver, .plans_container .plans .gold {
  background: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  color: #000000;
  text-align: center;
  padding: 1.5em 0;
}
.plans_container .plans .free h3, .plans_container .plans .silver h3, .plans_container .plans .gold h3 {
  padding: 1em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 32px;
}
.plans_container .plans .free h5, .plans_container .plans .silver h5, .plans_container .plans .gold h5 {
  margin: 1em 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.plans_container .plans .free .plans_values, .plans_container .plans .silver .plans_values, .plans_container .plans .gold .plans_values {
  color: hsl(202deg, 87%, 54%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.plans_container .plans .free .plans_values h2, .plans_container .plans .silver .plans_values h2, .plans_container .plans .gold .plans_values h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 57px;
}
.plans_container .plans .free .plans_values p, .plans_container .plans .silver .plans_values p, .plans_container .plans .gold .plans_values p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.plans_container .plans .free ul, .plans_container .plans .silver ul, .plans_container .plans .gold ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.plans_container .plans .free li, .plans_container .plans .silver li, .plans_container .plans .gold li {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.plans_container .plans .free img, .plans_container .plans .silver img, .plans_container .plans .gold img {
  margin: 10px;
}
.plans_container .plans .free button, .plans_container .plans .silver button, .plans_container .plans .gold button {
  background-color: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  margin: 1em 0;
  padding: 1em 1.5em;
  width: 60%;
  border-radius: 5px;
  border: none;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.plans_container .plans .free button:hover, .plans_container .plans .silver button:hover, .plans_container .plans .gold button:hover {
  background-color: blue;
  cursor: pointer;
}

.form_container {
  background: url(../Assets/form-banner.svg) center center no-repeat;
  text-align: center;
  padding: 2em 0;
}
.form_container h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: #252B42;
}
.form_container h2 {
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.2px;
  line-height: 57px;
  color: #252B42;
  margin: 0.5em;
}
.form_container form input {
  margin-left: auto;
  margin-right: auto;
  margin: 15px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 1px hsl(202deg, 87%, 54%);
  width: 70%;
}
.form_container form select {
  display: inline-block;
  width: 70%;
  margin: 1em;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 1px hsl(202deg, 87%, 54%);
}
.form_container form textarea {
  padding: 1em;
  width: 68%;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 1px hsl(202deg, 87%, 54%);
}
.form_container form .button_submit {
  background: hsl(202deg, 87%, 54%);
  color: hsl(0deg, 0%, 100%);
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.form_container form .button_submit:hover {
  cursor: pointer;
  background: hsl(240deg, 100%, 50%);
  transition: 300ms;
}

html, body {
  font-family: "Montserrat";
}/*# sourceMappingURL=style.css.map */